<div class="card" ng-controller="FormCtrl">
	<form name="clientinfo" novalidate>
			<label class="item item-input"> <span class="input-label">
			First Name *</span> <input type="text" required ng-model="client.firstname">
			</label> 
			<label class="item item-input"> <span class="input-label">
			Last Name *</span> <input type="text" required ng-model="client.lastname">
			</label> 
			<label class="item item-input"> <span class="input-label">
			Job Title *</span> <input type="text" required ng-model="client.job">
			</label> 
			<label class="item item-input"> <span class="input-label">
			E-mail Address *</span> <input type="email" required ng-model="client.email">
			</label> 
			<label class="item item-input"> <span class="input-label">
			Phone *</span> <input type="tel" required ng-model="client.phone">
			</label> 
			<label class="item item-input"> <span class="input-label">
			Company *</span> <input type="text" required ng-model="client.company">
			</label> 
			<label class="item item-input"> <span class="input-label">
			Country *</span> <input type="text" required ng-model="client.country">
			</label> 
	</form>
	<div style="text-align:center">
<!-- 	<button ng-disabled="!clientinfo.$valid" -->
<!-- 		class="button button-large button-positive" style="width:100%" -->
<!-- 		ng-click="send(client);modal.hide()">Send</button> -->
	</div>
</div>

