<ion-view title="{{focusRow.title}}"> <ion-content>

<div class="row">
	<div class="col-66">
		<iframe style="text-align:center" width="840" height="473" ng-src="{{getHackUrl()}}" frameborder="0"
			allowfullscreen></iframe>
				<div class="card">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
	</div>

	<div class="col-33">
		<ion-scroll direction="y">
		<div style="font-size:20px">Related Videos</div>
		<div class="card col-33" ng-repeat="row in list">
			<img class="full-image" ng-src="{{getImage(row.url)}}">
			<div class="item">
			{{row.title}}
			</div>
		</div>
		</ion-scroll>
	</div>
</div>
</ion-content> </ion-view>