<div class="preview-content">
<div style="height:60%">
<div class="title header" ng-class="page.theme">
Smarter Banking
</div>
<div class="article">
Financial and Banking services firms are adopting cloud technologies faster than organization in other industries as a key enabler for business model innovation. Learn more in our video
</div>
<div class="card media" style="height:65%; width:65%; margin: 10 auto; background:black">
		<img class="play-icon" width="25%" src="images/play.png">
</div>
</div>
<div class="header-bar title" ng-class="page.theme">Our Trending Topics</div>
</div>
