<div class="preview-content">
<div class="title header" ng-class="style.theme">
Smarter Banking
</div>
<div class="article">
Financial and Banking services firms are adopting cloud technologies faster than organization in other industries as a key enabler for business model innovation. Learn more in our video
</div>
<div class="card media" style="height:40%; width:60%; margin: 10 auto;">
		<img class="play-icon" width="30%" src="images/play.png">
</div>
<div class="header-bar title" ng-class="style.theme">Our Trending Topics</div>
</div>
