<div class="preview-content">
<h3 class="title header" ng-class="style.theme">Watch Our Client Testimonials</h3>
<ion-scroll direction="x">
<div class="row carousel">
	<div class="card col col-20" ng-click="getDetails(row)"
		ng-repeat="row in list">
		<img class="full-image" ng-src="{{getImage(row.id)}}">
		<div class="item">
			{{row.title}}
			<div>
				<div style="height: 20px">
					<span class="icon-span" ng-show="row.c" style="background: #3996D5">
						<i class="icon ion-cloud"> </i>
					</span> <span class="icon-span" ng-show="row.a"
						style="background: #FACF8D"> <i class="icon ion-search">

					</i>
					</span> <span class="icon-span" ng-show="row.m"
						style="background: #EF746D"> <i class="icon ion-iphone">

					</i>
					</span> <span class="icon-span" ng-show="row.s"
						style="background: #31CCB0"> <i
						class="icon ion-person-stalker"> </i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-scroll>

<div class="header-bar title" ng-class="style.theme">Follow A Journey Map</div>
</div>
