<ion-side-menus>
  <ion-side-menu-content drag-content="false">
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content> 	
  <ion-side-menu side="right" width="">
          <ion-content class="side-right">
				<div class="list">
					<div class="item">Home</div>
					<div class="item item-avatar">
					<img src="images/cloudicon.png">
					Cloud</div>
					<div class="item">Analytics</div>
					<div class="item">Mobile</div>
					<div class="item">Social</div>
					<div class="item">Banking</div>
					<div class="item">Government</div>
					<div class="item">Telecommunications</div>
					<div class="item">Mining</div>
				</div>
			</ion-content>
  </ion-side-menu>
</ion-side-menus>