<ion-view title="{{title}}">
  <ion-content has-header="true" overflow-scroll="true">
    <div class="list" style="padding-top: 40px;">
      <div style="height: 18%; overflow: hidden">
		<img style="margin-top: -60px" class="full-image"
        src="images/articles/dials.png">
      </div>
      <div class="item item-body">
        <img src="images/articles/cc.jpg" style="float: right; width: 310px;">
        <h1>
          Lorem Ipsum
        </h1>
        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae
        ab illo inventore veritatis et quasi architecto beatae vitae dicta
        sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit,
        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
        eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est,
        qui dolorem ipsum, quia dolor sit amet consectetur adipisci[ng] velit,
        sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et
        dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
        quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
        ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
        reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae
        consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
        pariatur? [33] At vero eos et accusamus et iusto odio dignissimos
        ducimus, qui blanditiis praesentium voluptatum deleniti atque
        corrupti, quos dolores et quas molestias excepturi sint, obcaecati
        cupiditate non provident, similique sunt in culpa, qui officia
        deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
        quidem rerum facilis est et expedita distinctio. Nam libero tempore,
        cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus
        id, quod maxime placeat, facere possimus, omnis voluptas assumenda
        est, omnis dolor repellendus. Temporibus autem quibusdam et aut
        officiis debitis aut rerum necessitatibus saepe eveniet, ut et
        voluptates repudiandae sint et molestiae non recusandae. Itaque earum
        rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus
        maiores alias consequatur aut perferendis doloribus asperiores
        repellat...
      </div>
    </div>
    <div class="list" style="padding-top: 30px;">
      <div class="item item-divider">
        Examples
      </div>
      <div class="item">
        <ion-scroll direction="x">
          <div class="row">
            <div class="card" ng-class="decideColumnWidth()"
            ng-click="getDetails(row)" ng-repeat="row in list">     
              <img class="full-image" ng-src="{{getImage(row.id)}}">
              <div class="item">
                {{row.title}}
                <div style="">
                  <div>
                    <span ng-if="row.c" style="background: #3996D5">   
                      <i
                      class="icon ion-cloud">  
                      </i>
                    </span>
                    <span ng-if="row.a" style="background: #FACF8D">         
                      <i
                      class="icon ion-search"> 
                      </i>
                    </span>
                    <span ng-if="row.m" style="background: #EF746D">  
                      <i
                      class="icon ion-iphone" >                
                      </i>
                    </span>                
                    <span ng-if="row.s" style="background: #31CCB0">
                      <i
                      class="icon ion-person-stalker">
                      </i>
                    </span>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
</ion-view>
