<ion-view>
  <ion-content has-header="true">
    <div class="row" style="min-height:100%">
      <div class=" col col-33 side-left" ng-class="style.theme">
        <div class="title header">
          {{title}}
          <img ng-src="images/icons/{{title}}.png" width="80px">
        </div>
        <div>
        <ul>
       	<li class="button-container" ui-sref="nav.category.introduction">
       	  <div class="button-circle left-align" ng-class="[style.theme, state.includes('nav.category.introduction') ? 'selected':'']"></div> 
          <div class="button-side"
          ng-class="[style.theme, state.includes('nav.category.introduction') ? 'button-outline':'']"
          style="display: inline-block; vertical-align: middle;">
            An Introduction
          </div>
        </li>
        <li class="button-container" ui-sref="nav.category.perspectives">
       	  <div class="button-circle left-align" ng-class="[style.theme,state.includes('nav.category.perspectives') ? 'selected':'']"></div> 
       	  <div class="button-side" 
          ng-class="[style.theme, state.includes('nav.category.perspectives') ? 'button-outline':'']">
            Perspectives
          </div>
        </li>
        <li class="button-container" ui-sref="nav.category.journeys">
       	  <div class="button-circle left-align" ng-class="[style.theme,state.includes('nav.category.journeys') ? 'selected':'']"></div> 
       	  <div class="button-side" 
          ng-class="[style.theme,state.includes('nav.category.journeys') ? 'button-outline':'']">
            Client Journeys
          </div>
        </li>
        
        </ul>
      </div>
      </div>
      
      
      <div class="col">
     	<ion-nav-view name="previewContent" animation="no-animation"></ion-nav-view>
      </div>
    </div>
  </ion-content>
</ion-view>
