<ion-view>
  <ion-content has-header="true">
    <div class="row" style="min-height:100%">
      <div class=" col col-33 side-left" ng-class="style.theme">
        <div class="title header">
          {{title}}
          <img ng-src="images/icons/{{title}}.png" width="80px">
        </div>

        <div>
        <ul>
       	<li class="button-container"  ng-click="selected=1" ui-sref="nav.category.introduction">
          <div class="button-circle" ng-class="[style.theme,selected==1 ? 'selected':'']"></div> 
          <div class="button-side"
          ng-class="[style.theme, selected==1 ?'button-outline':'']">
            An Introduction
          </div>
        </li>
        <li class="button-container" ng-click="selected=2" ui-sref="nav.category.perspectives">
          <div class="button-circle" ng-class="[style.theme,selected==2 ? 'selected':'']"></div> 
          <div class="button-side" 
          ng-class="[style.theme, selected==2 ?'button-outline':'']">
            Perspectives
          </div>
        </li>
        <li class="button-container" ng-click="selected=3" ui-sref="nav.category.journeys">
          <div class="button-circle" ng-class="[style.theme,selected==3 ? 'selected':'']"></div> 
          <div class="button-side" 
          ng-class="[style.theme,selected==3 ?'button-outline':'']">
            Client Journeys
          </div>
        </li>
        
        </ul>
      </div>
      </div>
      
      
      <div class="col">
     	<ion-nav-view name="previewContent" animation="no-animation"></ion-nav-view>
      </div>
    </div>
  </ion-content>
</ion-view>
