<ion-view title="{{filter}}"> <ion-content>

<div class="row" style="padding-top:15%">
	<div class="col col-33 col-offset-20">
		<div class="card">
			<a class="item" href="#/cloud">{{button1}}</a>
		</div>
	</div>
	<div class="col col-33">
		<div class="card">
			<a class="item" href="#/analytics">{{button2}}</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-33 col-offset-20">
		<div class="card">
			<a class="item" href="#/mobile">{{button3}}</a>
		</div>
	</div>
	<div class="col col-33">
		<div class="card">
			<a class="item" href="#/social">{{button4}}</a>
		</div>
	</div>
</div>

</ion-content> </ion-view>