<ion-view> 
<ion-content>

<div class="row" style="padding-top:15%">
	<div class="col col-33 col-offset-20">
		<div class="card">
			<div class="item" ng-click="search(button1)">{{button1}}</div>
		</div>
	</div>
	<div class="col col-33">
		<div class="card">
			<div class="item" ng-click="search(button2)">{{button2}}</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-33 col-offset-20">
		<div class="card">
			<div class="item" ng-click="search(button3)">{{button3}}</div>
		</div>
	</div>
	<div class="col col-33">
		<div class="card">
			<div class="item" ng-click="search(button4)">{{button4}}</div>
		</div>
	</div>
</div>

</ion-content> </ion-view>