<div class="social-bar row">
	<div class="col" style="margin-left: 6%">
		<i class="icon ion-ios7-heart energized" ng-click="favouritesPopup()"></i>
		Favourite
	</div>
	<div class="col">
		<a class="socialite twitter-share" href="http://twitter.com/share"
			data-url="http://socialitejs.com"> <i
			class="icon ion-social-twitter positive"></i>
		</a> Tweet
	</div>
	<div class="col">
		<a class="socialite linkedin-share" href="http://linkedin.com/share"
			data-url="http://socialitejs.com"> <i
			class="icon ion-social-linkedin" style="color: #007bb1"></i>
		</a> Share Link
	</div>
	<div class="col">
		<a class="socialite facebook-like" href="http://facebook.com/share"
			data-url="http://socialitejs.com"> <i
			class="icon ion-social-facebook"
			style="background: #395699; color: white"></i>
		</a> Post
	</div>
	<div class="col">
		<a> <i class="icon ion-ios7-email energized"></i> Email
		</a>
	</div>
	<div class="col" style="margin-right: 6%">
		<i class="icon ion-arrow-graph-up-right balanced"></i> Share Lead
	</div>
</div>
