<ion-view title='Experience IBM'>
<ion-content class="landing">
<div class="flavor-text">Discover the possibilities</div>
<div class="row">
	<div class="col">
		<div class="landing-button title button button-balanced big-button" ng-click="filterby('industry')">Experience </br> Industry</div>
	</div>
	<div class="col">
		<div class="landing-button title button button-energized big-button" ng-click="filterby('cams')">Experience </br> New Markets</div>	
	</div>
	<div class="col">
		<div class="landing-button title button button-positive big-button">
		<div>Paint Points</div>
		</div>	
	</div>
</div>
</ion-content>
</ion-view>