<ion-view title='Experience IBM'>

<div class="row start">
	<div class="col">
		<div class="card" ng-click="filterby('cams')">
		 <img class="full-image" src="images/cams.jpg">
				<a class="item">New Markets</a>
		</div>
	</div>
	<div class="col">
		<div class="card" ng-click="filterby('industry')">
		 <img class="full-image" src="images/industry.jpg">
			<a class="item">Industry</a>
		</div>
	</div>
	<div class="col">
		<div class="card">
		 <img class="full-image" src="images/painpts.jpg">
			<a class="item" href="#/cams">Pain Points</a>
		</div>
	</div>
</div>
</ion-view>