
.carousel {
	text-align:center;
	font-weight:600;
	.item {
		border-color:white;
	}
	
	.col-33.card {
		font-size:10% !important;
	}
	
	span.icon-span{
		display:inline-block;
		width: 24px;
		text-align:center;
		font-size:20px;
		color:#FFF;
		border-radius:20%;
	}
}