.media {
	position: relative;
	text-align:center;
	/*background:black;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	
}

.play-icon {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}