$button-size:80px;
.side-left {
	padding: 0 0 0 0;
	.button.button-full.button-outline {
		background:white;
	}
	.button.button-full {
		text-align:left;
		font-family: "Lubalin";
		font-size:20px;
		border:0px;
		margin: $button-size/2 0 $button-size/2 0;
	}
	.header {
		color: white;
		padding-bottom:100px;
	}
	.button-circle {
		margin-top:-$button-size/4;
		margin-left:-$button-size/4;
		margin-right:$button-size/4;		
		float:left;
		height:$button-size;
		width:$button-size;
		border-radius:$button-size;
		border-width:30px;
		border-color:white;
	}
	.button-circle.balanced {
		background:$balanced;
	}
	.button-container {
		margin-left:100px;
	}
}


.side-left.positive {
	background:$positive-background;
}
.side-left.energized {
	background:$energized-background;
	
}
.side-left.balanced {
	background:$balanced-background;
}

.side-right {
	background: $bigblue;
	.item {
		background: $bigblue;
		color:white;
		font-family:Lubalin;
		font-size:18px;
	}
	.ibm-icon img{
		width:45px;
		height:45px;
		margin-bottom:-11px;
		border-radius:45px;
		margin-right:10px;
	}
}






