$button-size:100px;
.side-left {
	padding: 0 0 0 0;
	.button.button-full.button-outline {
		background:white;
	}
	.button.button-full {
		text-align:left;
		font-family: "Lubalin";
		font-size:30px;
		border:0px;
		margin: $button-size/1.5 0 $button-size/1.5 0;
		height: $button-size - 17;
		line-height:$button-size - 17;
		
	}
	.header {
		color: white;
		padding-bottom:120px;
		margin-left:25px;
	}
	.button-circle {
		margin-top:-$button-size/8;
		margin-left:-$button-size/4;
		margin-right:$button-size/4;		
		float:left;
		height:$button-size;
		width:$button-size;
		border-radius:$button-size;	
		border: 3px solid white;
		z-index:999;
		position:relative;
	}
	.button-circle.balanced {
		background:$balanced;
	}
	.button-circle.positive {
		background:$positive;
	}
	.button-circle.energized {
		background:$energized;
	}		
	.button-container {
		margin-left:140px;
	}
}


.side-left.positive {
	background:$positive-background;
}
.side-left.energized {
	background:$energized-background;
	
}
.side-left.balanced {
	background:$balanced-background;
}

.side-right {
	background: $bigblue;
	.item {
		background: $bigblue;
		color:white;
		font-family:Lubalin;
		font-size:18px;
	}
	.ibm-icon img{
		width:45px;
		height:45px;
		margin-bottom:-11px;
		border-radius:45px;
		margin-right:10px;
	}
}






