$big-size: 230px;
$small-size: 120px;
/*$small-size: 110px;*/
/*$icon-size:45px;*/
$icon-size:35px;
.landing {
	background:url('../images/lighthouse.jpg');
	background-size:100% 100%;
	text-align:center;
	color:white;
	
	.flavor-text {
		padding:80px 0 10px 0;
		font-size:20px;
		margin: 0 55px 30px 55px;
		border-bottom:thin solid white;
		opacity:0;
	}	
	.landing-button {
		font-size:20px;
		margin: 0 auto;
		display: flex;
		justify-content:center;
		align-content:center;
		flex-direction:column; 
    	text-align: center;
		border-color:white;
		z-index:999;
	}
	.landing-button.big-button {	
		height:40%;
		width:85%;
		/*height:$big-size;
		width: $big-size;*/
		border-radius:100%;
		border-width:10px;
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
    	-moz-transition: all 0.5s ease;
    	-o-transition: all 0.5s ease;
    	z-index:100
	}
	.landing-button.small-button {
		display:inline-block;
		font-size:12px;
		/*font-size:10px;*/
		height:$small-size;
		width:$small-size;
		border-radius:100%;
		border-width:$small-size /20;
		z-index:20;
		margin: 14 0 -10 0;
	}
	
	.indicator {
		position:absolute;
		bottom:10px; 
		left:46%;
	}	
}

.invisible {
	display:none;
}

.dot-container {
	margin: -110px 0 -30px 0;
	z-index:1;
}
