@mixin theme($name,$background,$button,$circle,$button-selected,$circle-selected,$text) {
	.side-left.#{$name} {
		background:$background;
		
		.button-circle.#{$name} {
			background:$circle;
		}
		.button-circle.#{$name}.selected {
			background:$circle-selected;
		}
		.button-side.#{$name} {
			background:$button;
			color:white;
		}
		.button-side.#{$name}.button-outline {
			background:white;
			color:$button-selected;	 
		}

	}
	.header-bar.#{$name} {
		background: $circle-selected;
		color:$button;
	}
	.preview-content .#{$name}.header.title{
		color:$text;	
	}
	.icon.#{$name} {
		background:$button !important;
		color:white;
	}
}

@include theme(positive,$positive-background,$positive,$positive,$positive-selected,$positive-selected,$positive);
@include theme(balanced,#819b5c,#577a25,#008951,#48720a,#8cc63e,#008951);
@include theme(energized,$energized-background,$energized,$energized,$energized-selected,$energized-selected,$energized);
