$positive:#00afda;
$positive-text:#00afda;
$positive-selected:#0075ab;
$positive-background:#bdded5;

$energized:#fdb811;
$energized-text:#00afda;
$energized-selected:#ffef4a;
$energized-background: #ffe471;

$balanced:#8cc63e;
$balanced-dark:#008951;
$balanced-text:#00afda;
$balanced-selected:#008951;
$balanced-background: #819b5c;

$bigblue: #001934;
$bigblue-background: #006792;

$preview-padding: 10px;

@import "ionic/ionic";
@import "_fonts";
@import "_carousel";
@import "_media";
@import "_sidemenus";
@import "_start";
@import "_theme";
@import "_animate";
body {
	font-family: helveticaneue;
}
.title {
	font-family:"Lubalin";
}
.header {
	padding:$preview-padding 0 10px 0;
	font-size:200%;
}
.row {
	padding:0 0 0 0;
}
.overlay {
	position:fixed;
	top:0;
	left:0;
	background: black;
	opacity:0.7;
	height:100%;
	width:100%;
	z-index:999;
}
.article {
	text-align:center;
	line-height:180%;
	margin-left:10%;
	margin-right:10%;
}
.preview-content {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.header-bar {
	font-size:20px;
	padding: 5px 0;
}
.col {
	padding: 0;
}

.dot {
	height: 10px;
	width:10px;
	border-radius:20px;
	margin:10px auto;
	background:white;
}

.social-bar {
	margin-top:30px;
	.icon {
		display:block;
		padding-top:5px;
		font-size:20px;
		margin: auto;
		height:30px;
		width:30px;
		text-align:center;
		background:white;
	}
	.col {
		padding-top:10px;
		text-align:center;
		background:#EEE;
	}
}

