$positive:#00afda;
$energized:#fdb811;
$energized-med:#ffe14e;
$energized-light: #F9EBAE;
/*$balanced:#608131;*/
$balanced:#8cc63e;
$balanced-light: #9eb184;
$bigblue: #001934;
$bigblue-light: #006792;
$preview-padding: 45px;

@import "ionic/ionic";
@import "_fonts";
@import "_carousel";
@import "_media";
@import "_sidemenus";
@import "_start";


h3 {
	color: $energized;
}

body {
	font-family: helveticaneue;
	line-height:180%;
}


.title {
	font-family:"Lubalin";
}

.header {
	padding:$preview-padding 0 10px 0 ;
	font-size:40px;
}

.select {
	position:absolute;
	top:30%;
	width: 90%;
}

.row {
	padding:0 0 0 0;
}

.overlay {
	position:fixed;
	top:0;
	left:0;
	background: black;
	opacity:0.7;
	height:100%;
	width:100%;
	z-index:999;
}

